@import "./atoms/atoms";
@import "./molecules/molecules";
@import "./organisms/organisms";
@import "./AssemblyLineComponent";

.container {
    max-width: 991px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.con-st-pad {
    padding: 16px;
}

.full-width {
    width: 100%;
}
