.input-atom-con {
    width: 100%;
    .input-atom {
        width: 100%;
        border: 1px solid #a4a4a4;
        border-radius: 5px;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
    }
}
